<!DOCTYPE html>
<html lang="en">
    <div class="grid-container">
    <head>
        <link rel="stylesheet" href="style.css">
        <Title>Team One</Title>
        <div class= .grid-container>
            <header class="header">
                <div class = "brand">
                    <a href="Index.HTML">Team One</a>
                </div>
                <div class = "header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signing.html">Sign In</a>
                    </a>
                    </div>  
            </header>
        </div>
    </head>
    <body>
        <div>
            <header>
                Team One
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main>
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>

                </ul>
            </main>
            <footer>
                &copy; 2024 Team One
            </footer>
        </div>
    </body>
    </div>
</html>